<a href="#display">View Previously Added Heros!</a>

<h2>Please Add a Hero!</h2>

<form id="heroForm" class="form-group">
  <label for="alias">Alias:</label>
  <input type="text" id="heroAlias" name="alias" ng-model="hero.alias" />

  <label for="first_name">First Name:</label>
  <input type="text" id="heroFirst" name="first_name" ng-model="hero.first_name" />

  <label for="last_name">Last Name:</label>
  <input type="text" id="heroLast" name="last_name" ng-model="hero.last_name" />

  <label for="city">City:</label>
  <input type="text" id="heroCity" name="city" ng-model="hero.city" />

  <label for="power">Power:</label>
  <select ng-model="powerName" ng-options="power for power in listPowers"></select>

  <button ng-click="submitHero()">Submit Hero</button>
</form>
